.main_wrapper_card__slider,
.main_wrapper_card__description {
    display: inline-block;
    width: 49.8%;
}
.main_wrapper_card__description{
    padding-left: 13px;
    padding-bottom: 42px;
}

.main_wrapper_card{
    max-width: 1480px;
    padding: 0px 25px;
    margin: 0px auto 0px;
    display: flex;
}

.main_wrapper_card__hero_textt{
    display: none;
}

.main_wrapper_card__hero_text {
    width: 90%;
    font-size: 32px;
    margin: 35px 0px 10px 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
}

.main_wrapper_card__price{
    font-size: 28px;
    margin: 40px 0px 25px 0px;
    font-family: Arial,Helvetica,sans-serif;
}


.main_wrapper_card__onstock{
    font-size: 14px;
    margin-bottom: 40px;
    font-family: Arial,Helvetica,sans-serif;
    color: #17b260;
}

.main_wrapper_card__buttom_buy{
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 10px 16px;
    font-family: Arial,Helvetica,sans-serif;
    background: #FEA526;
}

.main_wrapper_card__item{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    border-top: 1px solid black;
}

.main_wrapper_card__text{
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;
}








@media screen and (max-width: 800px) {
    .main_wrapper_card{
        display: block;
    }
    .main_wrapper_card__slider,
.main_wrapper_card__description {
    display:block;
    width: 100%;
}

.main_wrapper_card__hero_textt{
    width: 90%;
    display: block;
    font-size: 32px;
    margin: 35px 0px 10px 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
}

.main_wrapper_card__hero_text{
display: none;
}

.main_wrapper_card__onstock{
    margin: 0px;
    font-size: 20px;
}

.main_wrapper_card__price{
    margin: 13px 0px 16px 0px;
    font-size: 33px;
}

.main_wrapper_card__buttom_buy{
    font-size: 27px;
}
.main_wrapper_card__item{
    font-size: 30px;
    margin: 0px;
    padding-bottom: 15px;
}

.main_wrapper_card__text{
    font-size: 24px;
}
}




@media screen and (max-width: 450px) {
    .main_wrapper_card{
        display: block;
    }
    .main_wrapper_card__slider,
.main_wrapper_card__description {
    display:block;
    width: 100%;
}

.main_wrapper_card__hero_textt{
    width: 90%;
    display: block;
    font-size: 27px;
    margin: 35px 0px 10px 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
}

.main_wrapper_card__hero_text{
display: none;
}

.main_wrapper_card__onstock{
    margin: 0px;
    font-size: 19px;
}

.main_wrapper_card__price{
    margin: 13px 0px 16px 0px;
    font-size: 31px;
}

.main_wrapper_card__buttom_buy{
    font-size: 26px;
}
.main_wrapper_card__item{
    font-size: 26px;
    margin: 0px;
    padding-bottom: 15px;
}

.main_wrapper_card__text{
    font-size: 22px;
}
}