html , body {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content:space-around;
    font-size: 20px;
    padding: 10px 5px;
    background-color: yellow;
}

.langwiges{
    width: 100px;
    display: flex;
    justify-content:space-around;
}

.header__children{
    text-decoration: none;
    color: black;
}

.catalog{
    width: 1150px;
    display: grid;
    margin: 25px auto 0px;
    grid-template-columns:33.33% 33.33% 33.33%;
}

.catalog-card{
   /* border: red 10px solid; */
   text-decoration: none;
   color: black;
}

.catalog-card_header{
text-align: center;
}

.catalog-card_img{
display: block;
margin: 0px auto;
}

.catalog-card_deskription{
text-align: center;
}

.catalog-card:hover{
    box-shadow: 1px -2px 22px 0px rgba(0,0,0,0.75);
}