.header-bottomBlock{
    background-image:none;
    background-color: black;
    
}

.header-bottomBlock{
    height: max-content;
}

.wrapper-card-newProduct{
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
}

.main{
    padding: 15px 5px;
}

.main__katalog__hero_text{
    font: 87.5%/1.42857 "Helvetica Neue","Roboto","Segoe UI",sans-serif;
    font-size: 1.71429rem;
}


@media screen and (max-width: 1200px) {
    .wrapper-card-newProduct{
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper-card-newProduct{
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

@media screen and (max-width: 600px) {
    .wrapper-card-newProduct{
        grid-template-columns: 50% 50%;
    }
}

/* end basic settings */

@media screen and (max-width: 1900px){
    .catalog-card_img{
        height: 300px;
    }
    .main {
        min-height: 723px;
        padding: 15px 25px;
    }

    .footer-column__item{
        font-size: 16px;
    }

    .catalog-card_header{
        font-size: 22px;
    }
    
    .catalog-card_price{
        font-size: 23px;
    }
    .button__sell_product {
        font-size: 20px;
    }

    .catalog-card::before {
        content: "Новинка";
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #3da5ca;
        padding: 5px 13px 5px 10px;
        color: white;
        font-family: 'Roboto', sans-serif;
        border-radius: 0 3px 3px 0;
    }
}

@media screen and (max-width: 1200px){

    .footer-column__item{
        font-size: 16px;
    }

    .catalog-card_img{
        height: 300px;
    }

    .catalog-card_header{
        font-size: 19px;
    }
    
    .catalog-card_price{
        font-size: 20px;
    }

    .catalog-card::before {
        content: "Новинка";
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #3da5ca;
        padding: 5px 13px 5px 10px;
        color: white;
        font-family: 'Roboto', sans-serif;
        border-radius: 0 3px 3px 0;
        font-size: 17px;
    }
}

@media screen and (max-width: 1000px){
.catalog-card_img {
    height: 270px;
}

.catalog-card_header {
    font-size: 16px;
}

.catalog-card_price {
    font-size: 17px;
}

.catalog-card::before {
    content: "Новинка";
    position: absolute;
    top: 10px;
    font-size: 14px;
    left: 10px;
    background-color: #3da5ca;
    padding: 4px 7px 4px 6px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 0 3px 3px 0;
}

.button__sell_product {
    display: block;
    width: 53px;
    color: black;
    background-color: #FEA526;
    margin: 0px auto;
    font-size: 17px;
    padding: 6px 13px;
}

.footer-column__item {
    font-size: 13px;
}

}

@media screen and (max-width: 800px){
.catalog-card_img {
height: 200px;
}

.catalog-card_header {
    font-size: 17px;
}

.catalog-card_price {
    font-size: 18px;
}

.button__sell_product {
    display: block;
    width: 53px;
    color: black;
    background-color: #FEA526;
    margin: 0px auto;
    font-size: 17px;
    padding: 6px 14px;
}

.catalog-card::before {
    content: "Новинка";
    position: absolute;
    top: 10px;
    font-size: 13px;
    left: 10px;
    background-color: #3da5ca;
    padding: 3px 7px 3px 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 0 3px 3px 0;
}

.header__children {
    font-size: 10px;
}

.header__kategories__item {
    font-size: 14px;
}

}

@media screen and (max-width: 700px) and (min-width: 600px) {
.catalog-card_img {
height: 155px;
}

.main{
    min-height: 650px;
}

.catalog-card_header {
    font-size: 15px;
}

.catalog-card_price {
    font-size: 15px;
}

.button__sell_product {
    font-size: 16px;
    padding: 4px 7px;
    width: 50px;
}

.catalog-card::before {
    content: "Новинка";
    position: absolute;
    top: 10px;
    font-size: 12px;
}

}

@media screen and (max-width: 600px){
.catalog-card_img {
height: 273px;
}

}

@media screen and (max-width: 500px){
.catalog-card_img {
height: 220px;
}

}

@media screen and (max-width: 400px){
.catalog-card_img {
height: 180px;
}

.catalog-card_header{
    font-size: 16px;
}

}



