.header-bottomBlock{
    background-image:none;
    background-color: black;
    height: max-content;
}
.main__content__hero_text{
    font-family: 'Roboto', sans-serif;
}
.main__content__text{
    font-family: 'Roboto', sans-serif;
}
.main__content{
    padding:0px 30px;
}

.main__button__pudding{
    padding-bottom:309px;
}

@media screen and (min-height: 950px) {
    .main__button__pudding{
        padding-bottom:459px;
    }
}