.block_item{
    display: flex;
}

.block_item__left{
    width: 138px;
    font-size: 14px;
    color: #ACACAC;
    padding: 5px 0;
}

.block_item__right{
    padding: 5px 0;
}

.main__backtoshop__hero_text {
    margin-bottom: 32px;
}


@media screen and (max-width: 400px) {
    .block_item__right {
        width: 174px;
    }
}